body {
    font-family: "Open Sans, sans-serif";
    background: #ffffff;

    padding: 0px;
    margin: 0px;
    text-decoration: none;
    -webkit-user-select: none;
    overflow: auto;
    overflow-x: hidden;
}

.navi {
    /*{{{*/
    background-color: #FCFCFC;
    border-bottom: solid 2px #E7E7E7;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

    z-index: 2;
    display: flex;
    /* tile design */
    list-style: none;
}




/*}}}*/

#title {
    /*{{{*/
    color: #22B5BF;
    font-size: 29px;
    font-weight: normal;
}





/*}}}*/

.main {
    /*{{{*/
    display: -webkit-flex;
    display: flex;
    z-index: 1;
    margin-top: 100px;
}





/*}}}*/

.item {
    /*{{{*/
    position: relative;
}




/*}}}*/

#pendulum {
    /*{{{*/
    /* background-color: yellow; */
}


/*}}}*/

#myCanvas {
    /*{{{*/
    padding-left: 50px;
    height:90%;
}





/*}}}*/

#graph {
    width: 100%;
    list-style: none;
    padding-right: 80px;
    /* background-color: #EEEEEE; */
}

#graph li {
    width: 100%;
    height: 33%;
    /* margin-top:50px; */
}

#cvs_gen{
    margin-top:100px;
    padding-left:50px;
    padding-bottom:250px;
    background-color: #EEEEEE;
}
.sliders{
    display: -webkit-flex;
    display: flex;
}

.sliders ul{
    list-style: none;
    padding-right:50px;
}

.sliders ul li{
    margin-bottom: 5px;
}

.button {
    /*{{{*/
    display: inline-block;
    font-family: 'Quicksand, sans-serif';
    font-size: 18px;
    color: #3D3D3E;
    background: inherit;

    padding: 5px 20px;
    margin: 20px 20px;
    text-decoration: none;
    cursor: pointer;
}





/*}}}*/

#generate,
#view {
    border: solid 2px #668AD8;
    border-radius: 3px;
}

#generate:hover,
#view:hover {
    border: solid 2px #FF7F7F;
    border-radius: 3px;
}

.navi .button:hover {
    /*{{{*/
    background-color: #EEEEEE;
    border-radius: 3px;
}



/*}}}*/
